<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Zmiana Change Hasło Password">
    <meta name="description" content="Strona edycji zmiana zalogowanego czytelnika">
    <title>Zmiana hasła</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       {% for message in messages %}
          {{ message }}
       {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/loggedUser/reader" class="mr-auto">
        <button class='btn btn-primary'>
            Powrót
        </button>
    </a>
    <h1>Zmień hasło</h1>
    <form method="POST" action="/changeReaderPassword" name="formReaderChange">
        <div class="form-outline mb-4">
            <label class="form-label" for="formReaderChange">Hasło</label>
            <input type="password" id="readerChange1" name="password" class="form-control" minlength="6" maxlength="255" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="formReaderChange">Potwierdź hasło</label>
            <input type="password" id="readerChange2" name="password2" class="form-control" minlength="6" maxlength="255" required/>
        </div>
        <span id="password-error" style="color: red;"></span>
        <button type="submit" class="btn btn-primary btn-block mb-4">Potwierdź zmiany</button>
    </form>
</body>
<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        const password1 = document.getElementById('readerChange1').value;
        const password2 = document.getElementById('readerChange2').value;
        if (password1 !== password2) {
            e.preventDefault();
            document.getElementById('readerChange1').value = "";
            document.getElementById('readerChange2').value = "";
            document.getElementById('password-error').textContent = "Wprowadzone hasła są różne.";
        }
    });
</script>
</html>