<!DOCTYPE html>
<html lang="pl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Logowanie login hasło log-in">
<meta name="description" content="Strona logowania do systemu">
<title>Zalogowano</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="static/style.css" />
<body>
    <h1>Pomyślnie zalogowano pracownika naszej biblioteki: {{name}} {{surname}}</h1>
    <a href="/newBook" class="mr-auto">
        <button class='btn btn-primary'>Dodaj książkę</button>
    </a>
    <a href="/loggedOut" style="align-items: center;">
        <button type="button" class="btn btn-primary mb-4">Wyloguj się</button>
    </a>
</body>